@font-face {
    font-family: "art";
    src: url("./fonts/art.TTF");
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 141, 141);
    font-family: art;
    background-image: url(./bg1.jpg);
    /* background-image: no-repeat; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}
#header{
    display: flex;
    position: absolute;
    font-size: 28px;
    text-align: center;
    width: 500px;
    top: 15px;
    height: 60px;
    font-family: art;
    font-style: italic;
    background-color: aquamarine;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    border: 5px solid rgb( 84, 62, 149);
    border-radius: 5px;
    outline: 5px yellow solid;
}
span1{
    color: purple;
}
span2{
    color: green;
}
#main{
    position: absolute;
    display: flex;
    width: 900px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* background-color: blue; */
    flex-wrap: wrap;
}
#container{
    /* display: block; */
    width: 480px;
    height: 480px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    border: 10px solid rgb(220, 122, 138);
    border-radius: 5px;
}
#colorPallete{
    display: block;
    position: absolute;
    height: 600px;
    width: 150px;
    border: rgb(207, 197, 197) 5px solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
}
.divs{
    /* width: 50px;
    height: 50px; */
    margin: 0;
    padding: 0;
    background-color: white;
    outline: black 1px solid;
    /* opacity: 0.5; */
}
.colors{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: purple;
    outline: white 2px solid;
}
#buttons{
    position: absolute;
    width: 850px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.button{
    display: flex;
    position: relative;
    width: 100px;
    height: 40px;
    font-size: 20px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    left: -2px;
    user-select: none; /* Non-standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

}
.eight{
    background-color: aqua;
}
.twelve{
    background-color: chartreuse;
}
.thirty{
    background-color: rgb(201, 32, 77);
}
.fifty{
    background-color: rgb(90, 59, 203);
}
#grid{
    background-color: teal;
}
#reset{
    background-color: burlywood;
}
#download{
    background-color: gold;
    width: 150px;
}
.divs,
.colors,
.button:hover{
    cursor: pointer;
}
#tips{
        display: block;
        position: absolute;
        height: 600px;
        width: 150px;
        /* background-color: blue; */
        /* transform: translateX(-50%); */
        /* transform: rotate(90deg); */
        border: rgb(103, 92, 92) 5px solid;
        background-color: rgb(207, 197, 197);
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        right: 0;
        bottom: 0;
        /* top: 50%; */
        /* transform: translateY(-50%); */
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
}
.tip{
    margin: 20%;
    margin-bottom: 0;
    height: fit-content;
}
#footer{
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
}